<script src="../../../Public/js/jquery.min.js?v=2.1.4"></script> 
  <script src="../../../Public/js/bootstrap.min.js?v=3.3.6"></script> 
  <script src="../../../Public/js/plugins/metisMenu/jquery.metisMenu.js"></script> 
  <script src="../../../Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script> 
  <script src="../../../Public/js/plugins/layer/layer.min.js"></script> 
  <script src="../../../Public/js/hplus.min.js?v=4.1.0"></script> 
  <script type="text/javascript" src="../../../Public/js/contabs.min.js"></script> 
  <script src="../../../Public/js/plugins/pace/pace.min.js"></script>  
  <script src="../../../Public/js/plugins/peity/jquery.peity.min.js"></script>
  <script src="../../../Public/js/content.min.js?v=1.0.0"></script>
  <script src="../../../Public/js/plugins/iCheck/icheck.min.js"></script>
  <script src="../../../Public/js/demo/peity-demo.min.js"></script>
  <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
  </script>